<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @dish.descricao %>
</p>

<p>
  <strong>Price:</strong>
  $ <%= @dish.preco %>
</p>

<p>
  <strong>Preparation time:</strong>
  <%= @dish.tempopreparo.strftime("%H:%M") %>
</p>

<p>
  <strong>Ingredients:</strong>
  <% for ingredient in @dish.ingredients.order('descricao asc') %>
    <%=ingredient.descricao %>,
  <% end%>

</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
